  <div class="col-12 px-5 form-group">
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-12 col-md-10">
        <div class="accordion" id="accordionExample">
          {{> repeat-accordian}}
        </div>
      </div>
    </div>
  </div>


  