<header>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 collapse-cont">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new-listing/management">Create New Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agent-registration">Add New Agent</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" href="" id="logout" class="ml-md-3">Log Out</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark row d-flex justify-content-start align-items-center m-0">
      <div class="col-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <a href="/" class="navbar-brand mt-2">
          <img
            src="/images/branding/logo-text.svg"
            alt="Yup!"
          />
        </a>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <a href="https://www.instagram.com/yup_ny/?hl=en" target="_blank" class="nav-ig">
          <i class="fab fa-instagram fa-lg ml-3 nav-socials"></i>
        </a>
        <a href="https://www.facebook.com/yupny/" target="_blank" class="nav-fb">
          <i class="fab fa-facebook-square fa-lg ml-3 nav-socials"></i>
        </a>
      </div>
    </nav>
  </div>
</header>
