  <header>
    <h1>
      <img src="/images/branding/yup.png" alt="yup-logo" id="nav-logo">
    </h1>
    <nav class="navbar">
        <div class='nav-left'>
            <a href="/">Home</a>
            <input type="text" id="search-listings" name="search-listings" placeholder="search-listings" />
        </div>
        <div class='nav-right'>
            <a href="/new-listing">New Listing</a>
        </div>
    </nav>
</header>