{{!-- new building amenities form --}}
<form class='building-amenities hide'>
  <div class='row d-flex justify-content-between mt-5'>
    {{! building id }}
    <div class='form-group hide'>
      <label for='building-id'>Building ID:</label>
      <span id='building-id-amenities'></span>
    </div>
    {{! pets }}
    <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
      <div class='concession-group px-4'>
        <h3>Pets</h3>
        <div class='custom-control custom-checkbox d-flex align-items-center'>
          <input type='checkbox' class='custom-control-input' id='pets' />
          <label class='custom-control-label align' for='pets'>Pets Allowed</label>
        </div>
      </div>
    </div>
    {{! outdoor }}
    <div class='col-lg-3 col-md-6 col-sm-12 mb-4'>
      <div class='concession-group px-4'>
        <h3>Outdoor</h3>
        <div class='custom-control custom-checkbox d-flex align-items-center'>
          <input type='checkbox' class='custom-control-input' id='roof' />
          <label class='custom-control-label align' for='roof'>Roof Access</label>
        </div>
        <div class='custom-control custom-checkbox d-flex align-items-center'>
          <input type='checkbox' class='custom-control-input' id='courtyard' />
          <label class='custom-control-label align' for='courtyard'>Courtyard</label>
        </div>
      </div>
    </div>
    {{!-- features --}}
    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
      <div class="row">
        <div class="col">
          <div class="concession-group px-4">
            <h3>Building Features</h3>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="concession-group px-4">
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='concierge' />
              <label class='custom-control-label align' for='concierge'>Concierge</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='doorman' />
              <label class='custom-control-label align' for='doorman'>Doorman</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='elevator' />
              <label class='custom-control-label align' for='elevator'>Elevator</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='laundry' />
              <label class='custom-control-label align' for='laundry'>Laundry</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='children-playroom' />
              <label class='custom-control-label align' for='children-playroom'>Children Playroom</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='gym' />
              <label class='custom-control-label align' for='gym'>Gym</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='media-room' />
              <label class='custom-control-label align' for='media-room'>Media Room</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='recreation-room' />
              <label class='custom-control-label align' for='recreation-room'>Recreation Room</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='pool' />
              <label class='custom-control-label align' for='pool'>Swimming Pool</label>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="concession-group px-4">
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='line-in-super' />
              <label class='custom-control-label align' for='line-in-super'>Live-in Super</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='smoke-free' />
              <label class='custom-control-label align' for='smoke-free'>Smoke Free</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='wheelchair-access' />
              <label class='custom-control-label align' for='wheelchair-access'>Wheelchair Access</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='garage-parking' />
              <label class='custom-control-label align' for='garage-parking'>Garage Parking</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='valet-parking' />
              <label class='custom-control-label align' for='valet-parking'>Valet Parking</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='bike-room' />
              <label class='custom-control-label align' for='bike-room'>Bike Room</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='cold-storage' />
              <label class='custom-control-label align' for='cold-storage'>Cold Storage</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='locker' />
              <label class='custom-control-label align' for='locker'>Locker</label>
            </div>
            <div class='custom-control custom-checkbox d-flex align-items-center'>
              <input type='checkbox' class='custom-control-input' id='package-room' />
              <label class='custom-control-label align' for='package-room'>Package Room</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row d-flex justify-content-end mt-5'>
    <div class="col-lg-4 col-md-5 col-sm-12">
      <div class='card-footer d-flex justify-content-end unit-submit'>
        <button type='button' class='btn btn-outline-dark m-2 cancel-btn'>Cancel</button>
        <button type='submit' class='btn btn-outline-dark m-2 next-btn'>Next</button>
      </div>
    </div>
  </div>
</form>