<section id="property-search">
        {{!-- pull-down or something --}}
        <span>Neightborhood</span>
        <span>Min Price</span>
        <span>Max Price</span>
        <span>Bedrooms</span>
        <button>Search</button>
        <p>Advanced Search</p>
</section>