<section class="container mt-5" id="property-section">
  <form
    class="d-flex flex-column justify-content-center align-items-center"
    id="property-search"
  >
    <div class="form-group" id="categories">
      <label for="">Search Management, Buildings, or Units</label>
      <select name="category" class="form-control mt-2" id="search-category">
        <option value="">--Please choose a category--</option>
        <option value="Management">Management</option>
        <option value="Building">Building</option>
        <option value="Unit">Unit</option>
      </select>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      id="category-btn"
    >Choose</button>
    <div style="display: none" id="unit_hide">
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        id="unit_rooms"
      >
        <label for="">Bedrooms</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="BR1"
            />
            <label class="form-check-label" for="BR1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="2"
              id="BR2"
            />
            <label class="form-check-label" for="BR2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="3"
              id="BR3"
            />
            <label class="form-check-label" for="BR3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="4"
              id="BR4"
            />
            <label class="form-check-label" for="BR4">4+</label>
          </div>
        </div>
        <label for="">Other Rooms</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="4"
              id="full_bath"
            />
            <label class="form-check-label" for="full_bath">Full Bath</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="4"
              id="half_bath"
            />
            <label class="form-check-label" for="half_bath">Half Bath</label>
          </div>
        </div>
        <button type="button" class="btn btn-primary" id="search-units">Search
          Units</button>
      </div>
    </div>
    <div class="collapse" id="building_hide">
      <div id="building_options">
        <label for="">Neighborhood</label>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="Bushwick"
            id="bushwick"
          />
          <label class="form-check-label" for="bushwick">Bushwick</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="Ocean Hill"
            id="ocean_hill"
          />
          <label class="form-check-label" for="ocean_hill">Ocean Hill</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="Bedstuy"
            id="bedstuy"
          />
          <label class="form-check-label" for="bedstuy">Bedstuy</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="Ridgewood"
            id="ridgewood"
          />
          <label class="form-check-label" for="ridgewood">Ridgewood</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="Prospect Heights"
            id="prospect_heights"
          />
          <label class="form-check-label" for="prospect_heights">Prospect
            Heights</label>
        </div>
      </div>
    </div>

    {{! <button type="submit" id="show_units" class="btn"><a href="/">Show</a></button> }}
    {{! <a href="" id="advanced-search">Advanced Search</a> }}
  </form>
</section>
<script src="/js/property-search.js"></script>