<section class="container mt-5" id="property-section">
  <div class="row d-flex filter-select">
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <button type='button' id="mgmt-btn" class='btn btn-outline-dark m-2 py-3 next-btn filter-btn'>Management</button>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <button type='button' id="building-btn" class='btn btn-outline-dark m-2 py-3 next-btn filter-btn'>Building</button>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center">
      <button type='button' id="unit-btn" class='btn btn-outline-dark m-2 py-3 next-btn filter-btn'>Unit</button>
    </div>
  </div>
  <form id="property-search">
    <div class="row d-flex justify-content-between mt-5 hide" id="unit_hide">
      {{> unit-search-form}}
    </div>
    <div class='row d-flex justify-content-center mt-5 w-100'>
      <div class="col">
        <div class='card-footer d-flex justify-content-end unit-submit'>
          <button type="button" class="btn btn-outline-dark m-2 next-btn hide" style="width: 120" id="search-main">Search</button>
        </div>
      </div>
    </div>
  </form>
</section>