<section class="container mt-5" id="property-section">
  <form
    class="d-flex flex-column justify-content-center align-items-center"
    id="property-search"
  >
    <div class="form-group" id="categories">
      <label for="">Search Management, Buildings, or Units</label>
      <select name="category" class="form-control mt-2" id="search-category">
        <option value="">--Please choose a category--</option>
        <option value="Management">Management</option>
        <option value="Building">Building</option>
        <option value="Unit">Unit</option>
      </select>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      id="category-btn"
    >Choose</button>
    <div style="display: none" id="unit_hide">
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        id="unit_rooms"
      >
        <p>Bedrooms</p>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="legal_beds=1"
              id="BR1"
            />
            <label class="form-check-label" for="BR1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="legal_beds=2"
              id="BR2"
            />
            <label class="form-check-label" for="BR2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="legal_beds=3"
              id="BR3"
            />
            <label class="form-check-label" for="BR3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="legal_beds=4"
              id="BR4"
            />
            <label class="form-check-label" for="BR4">4+</label>
          </div>
        </div>
        <p class="my-3" for="">Other Rooms</p>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="full_bath=1"
              id="full_bath"
            />
            <label class="form-check-label" for="full_bath">Full Bath</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="half_bath=1"
              id="half_bath"
            />
            <label class="form-check-label" for="half_bath">Half Bath</label>
          </div>
          <p class="mt-4">Amenities</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="balcony" id="balcony" disabled>
            <label class="form-check-label" for="balcony">Balcony</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="garden" id="garden" disabled>
            <label class="form-check-label" for="garden">Garden</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="private_roof" id="private_roof" disabled>
            <label class="form-check-label" for="private_roof">Private Roof</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="roof_rights" id="roof_rights" disabled>
            <label class="form-check-label" for="roof_rights">Roof Rights</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="terrace" id="terrace" disabled>
            <label class="form-check-label" for="terrace">Terrace</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="central_air" id="central_air" disabled>
            <label class="form-check-label" for="central_air">Central Air</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="dishwasher" id="dishwasher" disabled>
            <label class="form-check-label" for="dishwasher">Dishwasher</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="fireplace" id="fireplace" disabled>
            <label class="form-check-label" for="fireplace">Fireplace</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="hardwood_floor" id="hardwood_floor" disabled>
            <label class="form-check-label" for="hardwood_floor">Hardwood Floor</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="washer_dryer" id="washer_dryer" disabled>
            <label class="form-check-label" for="washer_dryer">Washer/Dryer</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="city_view" id="city_view" disabled>
            <label class="form-check-label" for="city_view">City View</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="garden_view" id="garden_view" disabled>
            <label class="form-check-label" for="garden_view">Garden View</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="park_view" id="park_view" disabled>
            <label class="form-check-label" for="park_view">Park View</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="skyline_view" id="skyline_view" disabled>
            <label class="form-check-label" for="skyline_view">Skyline View</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="water_view" id="water_view" disabled>
            <label class="form-check-label" for="water_view">Water View</label>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary mt-3"
          onClick="buildQuery('Unit')"
          id="search-units"
        >Search Units</button>
      </div>
    </div>
    <div style="display: none" id="building_hide">
      <div class="d-flex flex-column justify-content-center align-items-flex-start" id="building_options">
        <p class="mt-3">Neighborhood</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="neighborhood=Bushwick"
            id="bushwick"
          />
          <label class="form-check-label" for="bushwick">Bushwick</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="neighborhood=Ocean Hill"
            id="ocean_hill"
          />
          <label class="form-check-label" for="ocean_hill">Ocean Hill</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="neighborhood=Bedstuy"
            id="bedstuy"
          />
          <label class="form-check-label" for="bedstuy">Bedstuy</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="neighborhood=Ridgewood"
            id="ridgewood"
          />
          <label class="form-check-label" for="ridgewood">Ridgewood</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            value="neighborhood=Prospect Heights"
            id="prospect_heights"
          />
          <label class="form-check-label" for="prospect_heights">Prospect
            Heights</label>
        </div>
        <p class="mt-4">Amenities</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="pets_allowed" id="pets_allowed" disabled>
          <label class="form-check-label" for="pets_allowed">Pets Allowed</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="roof" id="roof" disabled>
          <label class="form-check-label" for="roof">Roof</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="courtyard" id="courtyard" disabled>
          <label class="form-check-label" for="courtyard">Courtyard</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="concierge" id="concierge" disabled>
          <label class="form-check-label" for="concierge">Concierge</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="doorman" id="doorman" disabled>
          <label class="form-check-label" for="doorman">Doorman</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="elevator" id="elevator" disabled>
          <label class="form-check-label" for="elevator">Elevator</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="laundry" id="laundry" disabled>
          <label class="form-check-label" for="laundry">Laundry</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="children_playroom" id="children_playroom" disabled>
          <label class="form-check-label" for="children_playroom">Children's Playroom</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="gym" id="gym" disabled>
          <label class="form-check-label" for="gym">Gym</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="media_room" id="media_room" disabled>
          <label class="form-check-label" for="media_room">Media Room</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="recreation_room" id="recreation_roo" disabled>
          <label class="form-check-label" for="recreation_room">Media Room</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="recreation_room" id="recreation_room" disabled>
          <label class="form-check-label" for="recreation_room">Recreation Room</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="swimming_pool" id="swimming_pool" disabled>
          <label class="form-check-label" for="swimming_pool">Swimming Pool</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="live_in_super" id="live_in_super" disabled>
          <label class="form-check-label" for="live_in_super">Live-in Super</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="smoke-free" id="smoke-free" disabled>
          <label class="form-check-label" for="smoke-free">Smoke-free</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="wheelchair_access" id="wheelchair_access" disabled>
          <label class="form-check-label" for="wheelchair_access">Wheelchair Access</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="garage_parking" id="garage_parking" disabled>
          <label class="form-check-label" for="garage_parking">Garage Parking</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="valet_parking" id="valet_parking" disabled>
          <label class="form-check-label" for="valet_parking">Valet Parking</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="bike_room" id="bike_roo" disabled>
          <label class="form-check-label" for="bike_room">Bike Room</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="cold_storage" id="cold_storage" disabled>
          <label class="form-check-label" for="cold_storage">Cold Storage</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="locker_cage" id="locker_cage" disabled>
          <label class="form-check-label" for="locker_cage">Locker Cage</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="package_room" id="package_room" disabled>
          <label class="form-check-label" for="package_room">Package Room</label>
        </div>
      </div>
      <button
          type="button"
          class="btn btn-primary mt-5"
          onClick="buildQuery('Building')"
          id="search-buildings"
        >Search Buildings</button>
      </div>
    </div>
  </form>
</section>
<script src="/js/searchFormArrays.js"></script>
<script src="/js/property-search.js"></script>