<form enctype='multipart/form-data' class='unit-images-form hide'>
  <div class='row'>
    <div class='col-12'>
      <h2 class='address'>Photos</h2>
      <hr />
    </div>
  </div>
  <div class='row'>
    <div class='col-12 d-flex justify-content-center p-4'>
      <div class='custom-file w-75'>
        <input type='file' class='custom-file-input' id='unit-image-form' multiple />
        <label class='custom-file-label' for='unit-image-form'>Choose files</label>
      </div>
    </div>
  </div>
  <div class='card-footer d-flex justify-content-end'>
    <div class='col-3 d-flex'>
      <button type='button' class='btn btn-outline-dark col-6 m-2'>Cancel</button>
      <button type='submit' class='btn btn-outline-dark col-6 m-2 next-btn'>Next</button>
    </div>
  </div>
</form>