{{> nav}}
<div class="container main-card d-flex justify-content-center mt-5">
    <div class="row d-flex justify-content-center card-width">
        <div class="card col-md address-input m-2 p-0 inner-card">
            <div class="card-body container">
                <div class="row dflex justify-content-center">
                    <div class="col d-flex flex-column justify-content-around align-items-center">
                        <h2 class="text-center">{{singleBuildingData.street_address}}</h2>
                        <div class="neighborhood p-2">
                            <span>{{singleBuildingData.neighborhood}}</span>
                        </div>
                    </div>
                </div>
                <hr>
                {{> building-units}}
            </div>
        </div>
    </div>
</div>