{{> nav}}
<h2 class="mt-5">Available Units at {{singleBuildingData.street_address}}</h2>
<section class="container d-flex flex-column align-items-center justify-content-center mt-5">
    {{> building-units}}
</section>