{{> nav}}
<h2 style="text-align: center">Available Units at {{singleBuildingData.street_address}}</h2>
<section class="container d-flex flex-column align-items-center justify-content-center">
    {{> building-units}}
</section>