{{> nav}}
<div class="container main-card mt-5">
    <div class="row d-flex justify-content-center mgmt-card">
        <div class="card col-md address-input m-2 p-0 inner-card">
            <div class="card-body container">
                <div class="row dflex justify-content-center">
                    <div class="col">
                        <h2 class="px-5">Results</h2>
                    </div>
                </div>
                <hr>
                <div class="" id="render-test"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/buildingSearchResults.js"></script>