<h1 id="login-logo">
    <img src="/images/branding/yup.png" alt="login-logo">
</h1>
<form class="property-form login-form">
    <div>
        <input type="email" id="email-login" class="input-field" name="email" placeholder="Email" />
    </div>
    <div>
        <input type="text" id="password-login" class="input-field" name="password" placeholder="Password" />
    </div>
    <div>
        <button type="submit" id="login" class="btn btn-outline-light mt-3 py-2 px-3"><a href="/">Login</a></button>
    </div>
</form>
<script src="js/login.js"></script>