<h1 id="login-logo">
    <img src="/images/branding/yup.png" alt="login-logo">
</h1>
<form class="property-form">
    <div>
        <input type="text" id="username" class="input-field" name="username" placeholder="Username" />
    </div>
    <div>
        <input type="text" id="password" class="input-field" name="password" placeholder="Password" />
    </div>
    <div>
        <button type="submit" id="login" class="btn btn-outline-light my-2 my-sm-3"><a href="/">Login</a></button>
    </div>
</form>