{{> nav}}
<div class="container main-card mt-5">
    <div class="row d-flex justify-content-center mgmt-card">
        <div class="card col-md address-input m-2 p-0 inner-card">
            <div class="card-body container">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <h2 class="px-5">{{singleManagementData.management_name}} Buildings</h2>
                    </div>
                </div>
                <hr>
                {{> management-buildings}}
            </div>
        </div>
    </div>
</div>
