{{> nav}}
<div class="container main-card mt-5">
  <div class="row d-flex justify-content-center building-card">
    <div class="card col-md address-input m-2 p-0 inner-card">
      <div class="card-body container p-0">
        <div class="row d-flex justify-content-center">
          <div class="col p-3">
            <h2>Building</h2>
          </div>
        </div>
        <hr>
        {{> building-form}}
      </div>
    </div>
{{> new-listing-building-amenities}}
  </div>
</div>
<script src='/js/new-listing.js'></script>

