
{{> nav}}
<h2 class="property-form-title">Create a New Listing</h2>

<form class="property-form">
    <div>
        <input type="text" id="new-address" class="address-field" name="Address" placeholder="Address"/>
    </div>
    <div>
        <textarea id="new-description" class="property-description" name="description" rows="5" cols="33" placeholder="Description"></textarea>
    </div>
    <div>
        <button type="submit" id="create-listing" class="submit-property">Create</button>
    </div>
</form>