
{{> nav}}
<div class="container main-card mt-5">
    <div class="row d-flex justify-content-center mgmt-card">
        <div class="card col-md address-input m-2 p-0 inner-card">
            <div class="card-body container p-0">
                <div class="row d-flex justify-content-center">
                    <div class="col p-3">
                        <h2>Management Company</h2>
                    </div>
                </div>
                <hr>
                <form class="mgmt-form">
                    <div class="row d-flex justify-content-center select-row">
                        <div class="col-12 p-4">
                            <select class="custom-select dropdown">
                            <option selected="">Select Management Company</option>
                            {{#each mgmt as |mgmt|}}
                            <option value={{ mgmt.id }}>{{mgmt.management_name}}</option>
                            {{/each}}
                            <option>Add New Management Company</option>
                            </select>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center add-row hide">
                        <hr>
                        <div class="form-group col-12 p-4">
                            <label for="management-company">Management Company Name</label>
                            <input type="text" class="form-control" id="mgmt" placeholder="">
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center hide">
                        <button type="button" class="btn btn-outline-dark col-6 m-2">Cancel</button>
                        <button type="submit" class="btn btn-outline-dark col-6 m-2 next-btn">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>