<p>Search Results</p>

<section id="render-test">

</section>
<section id="routeTest">
  {{#each unitData as |unit|}}
    <p>HELLO</p>
  {{/each}}
</section>

<script src="/js/searchResults.js"></script>