{{> nav}}
<h2 style="text-align: center">{{singleBuildingData.street_address}}</h2>
<div id="edit-link">
    <a href="/edit-listing">Edit This Listing</a>
</div>

<section id="listing-images">
    <img src="/images/general/placeholder-image.png" alt="selected-photo" id="selected-photo">
    <div id="carousel">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
    </div>
</section>

<section id="primary-info">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
</section>

<section id="more-info">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam reiciendis quia repellendus non repudiandae iste. Repudiandae optio nam aperiam doloribus, aliquam consequuntur sit deleniti vitae quasi nesciunt soluta quibusdam!
    </p>
</section>