.login-card {
  width: 35vw !important;
}

#login-logo {
  text-align: center;
}

#login-logo {
  width: 50%;
  /* margin-top: 150px; */
}

#password {
  margin-top: 15px;
}

#login {
  margin-top: 15px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #fafafa !important;
}

.property-form-title {
  text-align: center;
  margin-top: 30px;
}

.property-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.address-field {
  margin-left: 5px;
  text-align: center;
}

.property-description {
  margin-top: 30px;
  text-align: center;
}

.submit-property {
  margin-top: 30px;
  text-align: center;
  width: 70px;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .login-card {
    width: 75vw !important;
  }
}
