.filter-btn {
  width: 75% !important;
}

.collapse-header {
  background-color: var(--collapse);
}

.collapse-link {
  font-family: var(--muli);
  font-style: normal;
  font-weight: 300;
  font-size: 0.5em;
  white-space: nowrap;
  line-height: 140%;
  color: var(--yup-pink);
  transition: 0.3s ease-in-out;
}

.collapse-link:hover,
.collapse-link:focus,
.collapse-link:active {
  text-decoration: none;
  color: var(--button-hover);
}

.neighborhood-heading {
  text-align: right;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.neighborhood-heading:hover,
.neighborhood-heading:focus,
.neighborhood-heading:active {
  color: var(--yup-pink);
}

@media screen and (min-width: 450px) {
  .filter-btn {
    width: 50% !important;
  }
}

@media screen and (min-width: 750px) {
  .filter-btn {
    width: 85% !important;
  }
}
