.slider {
  /* width: 45rem; */
  height: 33rem;
  border-radius: 20px;
  border: 1px solid var(--yup-pink);
  overflow: hidden;
}

.slider-item {
  object-fit: cover;
  object-position: center center;
}

.status-banner {
  font-size: 1.2em;
  font-weight: 700;
}

.slider-item {
  /* height: 30rem; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.light-box {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightbox);
  z-index: 1;
}

.inner-lightbox {
  width: 60%;
}

.amenities-check {
  color: var(--yup-pink);
}

.weight {
  font-weight: 500;
}

@media screen and (min-width: 300px) {
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1000px) {
}
