/******* 

YONI ADDITIONS   

*******/

@import url('https://use.typekit.net/ihv0ezr.css');
@import url('https://use.typekit.net/ihv0ezr.css');

:root {
  --yup-pink: #d07bb3;
  --muli: muli, sans-serif;
  --futura: futura-pt-condensed, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 0 !important;
  background-color: var(--yup-pink);
  box-shadow: rgba(51, 51, 51, 0.45) 0.95px 0.95px 7.6px;
}

nav img {
  width: 5rem;
}

button:active,
button:focus {
  outline: none !important;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  margin: 0;
  font-family: var(--muli) !important;
  background-color: #faf9f9;
}

/*****************/

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.29);
}

h1 {
  text-align: center;
  margin-top: 35px;
}

.input-field {
  padding: 5px;
}

.btn {
  padding: 5px;
  background-color: rgb(207, 123, 179);
}

#nav-logo {
  height: 90px;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-listings {
  width: 150px;
  margin-top: 15px;
  padding: 5px;
}

.nav-right {
  margin-top: 10px;
}

#property-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#property-search {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#min-price {
  margin-top: 10px;
}

#max-price {
  margin-top: 10px;
}

#bedrooms {
  margin-top: 15px;
}

#bedrooms-group {
  margin-top: 5px;
}

#advanced-search {
  margin-top: 15px;
}

#advanced-search2 {
  display: none;
}

@media screen and (min-width: 650px) {
  h1 {
    text-align: left;
  }

  #nav-logo {
    margin-left: 10%;
    margin-top: 30px;
  }

  .navbar {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-left {
    flex-direction: row;
    align-items: baseline;
  }

  #search-listings {
    margin-left: 20px;
  }

  #advanced-search {
    align-self: flex-start;
  }

  #property-search {
    align-items: flex-start;
  }

  #property-input-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  #min-price {
    margin-left: 10px;
  }

  #max-price {
    margin-left: 10px;
  }

  #bedrooms-group {
    display: flex;
    align-items: baseline;
  }

  #prop-search-btn {
    margin-top: 10px;
  }
}

.result-container {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border: solid 1px black;
}

@media screen and (min-width: 1000px) {
  #nav-logo {
    margin-left: 90px;
  }

  .navbar {
    margin-right: 90px;
    margin-left: 90px;
  }

  #property-section {
    /* display: flex; */
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 90px;
  }

  #property-search {
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  #bedrooms {
    align-self: flex-end;
    margin-left: 30px;
  }

  #bedrooms-group {
    display: flex;
    align-items: baseline;
  }

  #prop-search-btn {
    margin-left: 10px;
  }

  #advanced-search {
    margin-left: 10px;
  }
}
