/******* 

YONI ADDITIONS   

*******/

@import url('https://use.typekit.net/ihv0ezr.css');
@import url('https://use.typekit.net/ihv0ezr.css');

:root {
  --yup-pink: #d07bb3;
  --muli: muli, sans-serif;
  --futura: futura-pt-condensed, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 0 !important;
  background-color: var(--yup-pink);
  box-shadow: rgba(51, 51, 51, 0.45) 0.95px 0.95px 7.6px;
}

nav a {
  font-size: 1.4em !important;
}

nav img {
  width: 5rem;
}

button:active,
button:focus {
  outline: none !important;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  margin: 0;
  font-family: var(--muli) !important;
  font-size: 0.8em;
  background-color: #faf9f9;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.main-card {
  padding: 0 7px !important;
  /* width: 35vw; */
  box-shadow: rgba(51, 51, 51, 0.45) 0.95px 0.95px 7.6px;
}

.inner-card {
  margin-bottom: 0 !important;
  border: none !important;
}

.hide {
  display: none !important;
}

.px-6 {
  padding: 0 5rem;
}

.px-7 {
  padding: 0 6rem;
}

.unit-submit {
  background-color: transparent;
}

.edit-footer {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: var(--yup-pink);
  box-shadow: rgba(51, 51, 51, 0.45) 0.95px 0.95px 7.6px;
}

.agent-reg-form {
  width: 100%;
}

.train-icon {
  width: 1.5rem;
}

#selected-photo {
  width: 100%;
}

.unit-wrap {
  box-shadow: rgba(51, 51, 51, 0.45) 0.95px 0.95px 7.6px;
}

.jumbo {
  width: 100% !important;
}

/*****************/

.form-check-input {
  border-radius: 100% !important;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.29);
}

h1 {
  text-align: center;
  margin-top: 35px;
}

.input-field {
  padding: 5px;
}

.btn {
  padding: 5px;
  background-color: rgb(207, 123, 179);
}

.cancel-btn {
  padding: 5px;
  background-color: rgb(207, 123, 179);
  width: 70px;
}

.amenity-icon {
  height: 20px;
}

#nav-logo {
  height: 90px;
}

.navbar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-listings {
  width: 150px;
  margin-top: 15px;
  padding: 5px;
}

.nav-right {
  margin-top: 10px;
}

/* #property-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* #property-search {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* #min-price {
  margin-top: 10px;
}

#max-price {
  margin-top: 10px;
}

#bedrooms {
  margin-top: 15px;
}

#bedrooms-group {
  margin-top: 5px;
}

#advanced-search {
  margin-top: 15px;
}

#advanced-search2 {
  display: none;
} */

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgb(207, 123, 179);
}

@media screen and (min-width: 568px) {
  .result-container {
    width: 70%;
  }
}

@media screen and (min-width: 650px) {
  h1 {
    text-align: left;
  }

  #nav-logo {
    margin-left: 10%;
    margin-top: 30px;
  }

  #prop-search-btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: 750px) {
  .result-container {
    width: 600px;
  }
}
